/*  your css code here. If applicable */
#grid
{
	
	
	display: grid;
	gap:5px;
	grid-template-rows: 124px 124px 124px 124px 124px;
	grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
	
}

.grid
{
	background-color: green;
	color: white;
	font-size: 4vw;
}

.class1
{
	grid-column: 1/5;
}

.class2
{
	grid-row: 2/6;
}

.class4
{
	grid-column: 3/5;
}

.class5
{
	grid-column: 2/4;
}

.class10
{
	grid-column: 2/5;
}
