/* your css code here */
#grid {
	display: grid;
	gap: 5px;
	grid-template-rows: repeat(5, 124px);
	grid-template-columns: repeat(4, 242.5px);
}

.grid {
	background-color: green;
	color: white;
	font-size: 4vw;
}

/* 1 spans all 4 columns */
#grid div:nth-child(1) {
	grid-column: span 4;
}

/* 2 spans 4 rows */
#grid div:nth-child(2) {
	grid-row: span 4;
}

/* 4 and 5 each span 2 columns */
#grid div:nth-child(4) {
	grid-column: span 2;
}

#grid div:nth-child(5) {
	grid-column: span 2;
}

/* 10 spans 3 columns */
#grid div:nth-child(10) {
	grid-column: span 3;
}
